{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "eol-last": "off",
    "no-unused-vars": "off",

    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
